<ion-header>
  <ion-toolbar>
    <ion-title>SignUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form #loginForm="ngForm" (ngSubmit)="register()" autocomplete="off">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <!-- Names -->
            <ion-item>
              <ion-input placeholder="First Name" name="first-name" id="firstNameField"
                         type="text" required [(ngModel)]="firstName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Last Name" name="last-name" id="lastNameField"
                           type="text" required [(ngModel)]="lastName"></ion-input>
            </ion-item>

            <!-- Address -->
            <ion-item>
              <ion-input placeholder="Address 1" name="address1" id="address1Field"
                              type="text" required [(ngModel)]="address1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Address 2" name="address2" id="address2Field"
                              type="text" [(ngModel)]="address2"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="City" name="city" id="cityField"
                              type="text" required [(ngModel)]="city"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="State" name="state" id="stateField"
                              type="text" required [(ngModel)]="state"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Zipcode" name="zipcode" id="zipcodeField"
                              type="text" required [(ngModel)]="zipcode"></ion-input>
            </ion-item>

            <!-- Email -->
            <ion-item>
              <ion-input placeholder="Email" name="username" id="loginField"
                            type="email" required [(ngModel)]="username" #email></ion-input>
            </ion-item>

            <!-- Password -->
            <ion-item>
              <ion-input placeholder="Password" name="password" id="passwordField"
                         type="password" required [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Confirm Password" name="confirm-password" id="confirmPasswordField"
                          type="password" required [(ngModel)]="confirmPassword"></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          <button ion-button class="primary-btn" full type="submit"
                  [disabled]="!loginForm.form.valid">Login
          </button>
        </ion-col>
      </ion-row>

    </form>
  </ion-content>