<!-- <ion-header>
  <ion-toolbar>
    <ion-title>SignIn</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding class="img-bg">
  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" class="no-bg">
    <ion-row class="no-bg">
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Email" name="username" id="loginField" class="textbox"
                       type="text" required [(ngModel)]="username" #email></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" name="password" id="passwordField" class="textbox"
                       type="password" required [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button ion-button class="primary-btn" full type="submit"
                [disabled]="!loginForm.form.valid">Login
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>