.textbox {
    background-color: #eee;
    color: var(--ion-background-color);
    padding-left:15px !important;
    padding-right: 15px;
}

.primary-btn {
    background-color: #eee;
    color: var(--ion-background-color);
    margin-left:30px;
}