<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <input [(ngModel)]="searchText" placeholder="Find Your Coach..." class="list-search-input">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  

  <ion-list>
    <ion-item *ngFor="let item of mockData | collegeSearchFilterPipe: {firstName: searchText, lastName:searchText,  primarySport: searchText};  let i=index;"
    [class.selected]="item === selectedCoach"
    [routerLink]="['/coach', item.id]"
    (click)="onSelect(item)"
    >
      <div>
        {{item.firstName}} {{item.lastName}}
      </div>
      <div class="item-sport" slot="end">
        {{item.primarySport}}
      </div>
    </ion-item>

  </ion-list>

</ion-content>